.wrapper {
  --x: 0;
  --y: 0;
  position: fixed;
  top: var(--x);
  left: var(--y);
  max-width: 200px;
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  color: #282c34;
  padding: 12px;
}

.meta {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}
